ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 12px;
}
ul.breadcrumb li {display: inline;}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

#page-content-wrapper > div > div > div.panel-body > div > div > div > div.left-adquiridos {
    display: inline-flex;
    /* margin-left: 90px; */
    align-items: center;
}

#page-content-wrapper > div > div > div.panel-body > div > div > div > div.left-adquiridos > div{
    padding: 15px;
}

#page-content-wrapper > div > div > div.panel-body > div > div > div > div.right-adquiridos {
    margin-top: 4%;
    float: right;
}

#page-content-wrapper > div > div > div.panel-body > div > div > div > div.right-adquiridos > button.btn {
    margin-bottom: 2px;
}

#body-adquiridos {
    padding: 5px !important;
}

@media (max-width: 767px) {

    #page-content-wrapper > div > div > div.panel-body > div > div > div > div.left-adquiridos {
        display: inline-block;
    }

    #body-adquiridos > div > div.left-adquiridos > div {
        display: inline-block;
    }

    .photo { display: none !important; }

    #page-content-wrapper > div > div > div.panel-body > div > div > div > div.right-adquiridos {
        margin-top: 0%;
    }
}

@media (max-width: 454px) {

    #page-content-wrapper > div > div > div.panel-body > div > div > div > div.left-adquiridos {
        display: inline-flex;
    }

    #body-adquiridos > div > div.left-adquiridos > div {
        display: inline-grid;
        align-items: top;
    }

    .photo { display: none !important; }
}

@media (max-width: 454px) {

   #body-adquiridos > div > div.left-adquiridos > div{
        font-size: 12px;
   }
}