.breadcrumb {
  margin-top: 0px !important;
}

.add-img {
    width: 100px;
    cursor: pointer;
}

#mainItem {
    margin-top: 60px;
    padding: 5px;
}

#myCarousel {
	height: 300px !important;
	width: 300px !important;
	display: inline-block;
}

#myCarousel > a.left.carousel-control, 
	#myCarousel > a.right.carousel-control{
		display: inline-flex;
    	align-items: center; 
}

#myCarousel > a.right.carousel-control > span.fa.fa-chevron-right{
	margin-left: 32px !important;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {  
	margin: auto;   
	height: 300px !important;
	width: 300px !important;
}

.carousel-inner {
    height: 300px !important;
    width: 300px !important;
}

#mainItem > div > div > div > div.panel-footer.text-center > button.btn{
  	margin-bottom: 5px;
}

#mainItem > div > div > div > div.panel-body > div.col-sm-6.col-md-6.col-lg-8 > div{
  font-size: 16pt;
}

@media (max-width: 360px){
	#myCarousel {
		height: 250px !important;
		width: 250px !important;
	}

	.carousel-inner > .item > img,
  	.carousel-inner > .item > a > img {  
		margin: auto;   
		height: 250px !important;
		width: 250px !important;
  	}

  	.carousel-inner {
		height: 250px !important;
		width: 250px !important;
  	}

  	#myCarousel > a.right.carousel-control > span.fa.fa-chevron-right{
		margin-left: 24px !important;
	}
}