#filtro-pesquisa {
    font-size: 20px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #fefefe;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav-itens p {
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#mySidenav > ul > li {
    font-size: 18px;
}

#mySidenav > ul > li.list-group-item.active > span {
    margin-top: 5px;
}

.categ {
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

.sidenav::-webkit-scrollbar {
     width: 0.3em;
 }
  
 .sidenav::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
 }
  
 .sidenav::-webkit-scrollbar-thumb {
     outline: 1px solid slategrey;
     border-radius: 25px;
     background-color: rgba(208, 219, 214, 0.6);
     background: rgba(208, 219, 214, 0.6);
     color: rgba(208, 219, 214, 0.6);
 }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav p {font-size: 18px;}
}