#filtro-pesquisa {
    font-size: 20px;
    cursor: pointer;
}

#filtro-pesquisa:hover{
    text-shadow: .6px .6px #000;
    font-size: 21px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #fefefe;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav-itens p {
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#mySidenav > ul > li {
    font-size: 22px;
}

#mySidenav > ul > li.list-group-item.active > span {
    margin-top: 5px;
}

.sidenav a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #4C4C4C;
    text-decoration: none;
    text-shadow: 1px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

.sidenav::-webkit-scrollbar {
    width: 0.4em;

}
 
.sidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.sidenav::-webkit-scrollbar-thumb {
    outline: 1px solid slategrey;
    border-radius: 25px;
    background-color: rgba(208, 219, 214, 0.5);
    background: rgba(208, 219, 214, 0.5);
    color: rgba(208, 219, 214, 0.5);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav p {font-size: 18px;}
}
