#main {
    display: block;
}

h1 {
    margin-top: 5px !important;
}

textarea {
  max-width: 602px;
}

#div_mensagem {
  display: none;
}

#denuncia_text{
  max-width: 200px;
  max-height: 115px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #E6E6E6;
  padding-bottom: 5px;
  width: 300px;
  min-height: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
  
  line-height: 110px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;

  border-radius: 15px;
  border: 4px dashed #B1B1B1;
  display: relative;
}

.flex-item img {
    width: 100px;
}

.flex-item h2 {
    color: #2D2D2D;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0px;
}

.flex-item:hover {
    background: #C9C9C9;
    border: 4px dashed #939393;
    cursor: pointer;
}

.flex-item a:hover {
    text-decoration: none;
}

.foto-perfil {
    display: flex;
    align-items: center;
}

.foto-perfil div {
    display: flex;
    align-items: center;
}

.foto-perfil .col-sm-4 {
    padding-left: 0px;
}

#perfil_img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.left-recebidos {
 align-items: flex-start;
 display: flex;
}

.left-recebidos > div{
    padding: 15px;
}

.left-recebidos > div > p {
  font-size: 14pt;
}

.right-recebidos {
    height: 185px;
    display: flex;
    align-items: center;
}

.right-recebidos button {
    /*width: 80px;*/
    /*margin-right: 2px;*/
}


/*div.painel-admin-div {
  display: relative;
}*/

label.badge {
  display: absolute;
  float: right; 
  font-size: 18px;
  bottom: 0px;
}

.photo {
  width: 180px;
}

.photo img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

#body-recebidos {
    padding: 5px !important;
}

@media (max-width: 900px) {

    .right-recebidos{
        display: grid !important;
        margin:0px !important;
    }
}

@media (max-width: 767px) {
  .right-recebidos{
    height: 100% !important;
  }

  .left-recebidos > div {
   margin: 0 auto;
  }
}

@media (max-width: 454px) {

    .photo { display: none !important; }

    #body-recebidos > div > div.left-recebidos > div {
        display: inline-grid;
        align-items: top;
    }

}