#main {
    display: block;
}

#page-content-wrapper > div > div > div.panel-body > div > div > div > div.left-adquiridos {
    display: inline-flex;
    /* margin-left: 90px; */
    align-items: center;
}

#page-content-wrapper > div > div > div.panel-body > div > div > div > div.left-adquiridos > div{
    padding: 15px;
}

#page-content-wrapper > div > div > div.panel-body > div > div > div > div.right-adquiridos {
    margin-top: 4%;
    float: right;
}

.right-adquiridos {
    margin-top: 40px;
}

.right-adquiridos button {
    width: 75px;
    margin: 1px;
}

#page-content-wrapper > div > div > div.panel-body > div > div > div > div.right-adquiridos > button.btn {
    margin-bottom: 2px;
}

#body-adquiridos {
    padding: 5px !important;
}

@media (max-width: 1024px) {

    .right-adquiridos{
        margin-top: 25px;
    }
}

@media (max-width: 768px) {

    .right-adquiridos{
        margin-top: 15px;
    }

    #page-content-wrapper > div > div > div.panel-body > div > div > div > div.left-adquiridos {
        display: inline-block;
    }

    #body-adquiridos > div > div.left-adquiridos > div {
        display: inline-block;
    }

    /*.photo { display: none !important; }*/

    #page-content-wrapper > div > div > div.panel-body > div > div > div > div.right-adquiridos {
        margin-top: 0%;
    }
}

@media (max-width: 454px) {

    #page-content-wrapper > div > div > div.panel-body > div > div > div > div.left-adquiridos {
        display: inline-flex;
    }

    #body-adquiridos > div > div.left-adquiridos > div {
        display: inline-grid;
        align-items: top;
    }

    .photo { display: none !important; }
}

@media (max-width: 454px) {

   #body-adquiridos > div > div.left-adquiridos > div{
        font-size: 12px;
   }
}